.sectionCaption
{
	width: 195px;
	float: left;
	text-align: left;
	position: relative;
	vertical-align: middle;
	overflow: visible;
	display:block;
	color:Gray;
	font-size:large;
}

form
{
    padding:0px;
    margin:0;
}

.labelLogin
{
    font-family:Tahoma;
    font-size:11pt;
    font-weight:bold;
    width:160px;
    color:#3f6697;
}
.textLogin
{
    font-family:Tahoma;
    font-size:small;
    color:#3f6697;
    font-weight:bold;
    border-style:solid;
    border-width:1px;
    border-color:#C5D3E4;
    height:20px;
    width:225px;
}
.textCommonSearch
{
    font-family:Tahoma;
    font-size:small;
    color:#3f6697;
    font-weight:bold;
    border-style:solid;
    border-width:1px;
    border-color:#C5D3E4;
    height:20px;
    width:180px;
}

.labelRegular
{
	font-size:12pt;
 
}
.labelRequired
{
	
	font-size:12pt;
	color:Red;
}
.labelMessage
{
	font-size:12pt;
	font-weight:bold;	 
}

.textRegular
{
    font-family:arial,sans-serif;
    font-size:12pt;
    width:200px;
    border:1px solid #DDDDDD;
}

.textRegularSmall
{
    font-family:arial,sans-serif;
    font-size:10pt;
    width:100px;
    border:1px solid #DDDDDD;
}
.textRegularLarge
{
    font-family:arial,sans-serif;
    font-size:12pt;
    width:644px;
     
    border:1px solid #DDDDDD;
}

.textRegCustomWidth
{
    font-family:arial,sans-serif;
    font-size:12pt;     
    border:1px solid #DDDDDD;
}

.assortColor
{
    width:100%;
    text-align:left;
    border:0px;
    font-weight:bold;
    font-family:arial,sans-serif;
    font-size:12pt;
}

.assortSize
{
    width:100%;
    text-align:right;
    border:0px;
    font-family:arial,sans-serif;
    font-size:12pt;
}

.assortTotal
{
    width:100%;
    text-align:right;
    border:0px;
    font-family:arial,sans-serif;
    font-size:12pt;
}

.assortFooter
{
    width:100%;
    text-align:right;
    border:0px;
    font-family:arial,sans-serif;
    font-size:12pt;
    font-weight:bold;
    color:Blue;
}

.assortFooterGrandTotal
{
    width:100%;
    text-align:right;
    border:0px;
    font-family:arial,sans-serif;
    font-size:12pt;
    font-weight:bold;
    color:Green;
}

.gridTextBoxLeftAligned
{
    width:100%;
    text-align:left;
    border:solid 1px #C5D3E4;
    font-family:arial,sans-serif;
    font-size:12pt;
    /* for IE */
    filter:alpha(opacity=70);
    /* CSS3 standard */
    opacity:0.7;
}

.gridTextBoxRightAligned
{
    width:100%;
    text-align:right;
    border:solid 1px #C5D3E4;
    font-family:arial,sans-serif;
    font-size:12pt;
    /* for IE */
    filter:alpha(opacity=70);
    /* CSS3 standard */
    opacity:0.7;
}

.gridTextBoxCenterAligned
{
    width:100%;
    text-align:center;
    border:solid 1px #C5D3E4;
    font-family:arial,sans-serif;
    font-size:12pt;
    /* for IE */
    filter:alpha(opacity=70);
    /* CSS3 standard */
    opacity:0.7;
}

.packID
{
    width:100%;
    text-align:left;
    border:0px;
    font-weight:bold;
    font-family:arial,sans-serif;
    font-size:12pt;
}

.packColor
{
    width:100%;
    text-align:left;
    border:0px;
    font-weight:bold;
    font-family:arial,sans-serif;
    font-size:12pt;
}

.packSize
{
    width:100%;
    text-align:right;
    border:0px;
    font-family:arial,sans-serif;
    font-size:12pt;
}

.packTotal
{
    width:100%;
    text-align:right;
    border:0px;
    font-family:arial,sans-serif;
    font-size:12pt;
}

.textAreaRegular
{
    font-family:arial,sans-serif;
    font-size:12pt;
    width:200px;
    height:60px;
    border:1px solid #DDDDDD;
}
.textAreaLarge
{
    font-family:arial,sans-serif;
    font-size:12pt;
    width:644px;
    height:57px;
    border:1px solid #DDDDDD;
}

.HighlightBox
{
    background-color:#BCE954;
}
.HighlightBox2
{
    background-color:#BDEDFF;
}

.selectBoxRegular
{
    font-family:arial,sans-serif;
    font-size:12pt;
    width:202px;
    border:1px solid #DDDDDD;
}
.selectBoxForGrid
{
    font-family:arial,sans-serif;
    font-size:12pt;
    width:100%;
    border:1px solid #C5D3E4;
}
.selectBoxRegularCustomWidth
{
    font-family:arial,sans-serif;
    font-size:12pt;
     
    border:1px solid #DDDDDD;
}
.CheckBoxClass
{
     border:1px solid #DDDDDD;
}

table.tableRegular 
{
	border-width: 1px;
	border-spacing: 0px;
	border-style: solid;
	border-color: #dddddd;
	background-color: #ffffff;
	font-family:arial,sans-serif;
    font-size:11pt;
    width:100%;
}
table.tableRegular th 
{
    border-color: #dddddd;
    border-style: solid;
	border-width: 1px;
	padding: 1px 2px 1px 2px;
	background-color: #e7eef6;
}


table.tableRegular tr 
{
    border-color: #dddddd;
    border-style: solid;
	border-width: 1px;
	padding: 1px 2px 1px 2px;
	background-color: #ffffff;
}





table.grid 
{
	border-width: 1px;
	border-spacing: 0px;
	border-style: solid;
	border-color: #dddddd;
	background-color: #ffffff;
	font-family:arial,sans-serif;
    font-size:11pt;
    width:100%;
}
table.grid th 
{
    border-color: #dddddd;
    border-style: solid;
	border-width: 1px;
	padding: 1px 2px 1px 2px;
	background-color: #e7eef6;
}
table.grid tr
{
    border-color: #dddddd;
    border-style: solid;
	border-width: 1px;
	padding: 1px 2px 1px 2px;
}
.hover
{
	background-color: #E0ECF8
}
/*
.gridrow
{
    background-color: #ffffff;
}
.gridrow_alternate
{
	background-color: #E0ECF8
}
*/

/* grid buttons */
.gridEdit
{
    background-image:url(/Security/Content/img/controls/gridEdit.gif);
    height:14px;
    width:16px;
    display:block;
    overflow:hidden;
    cursor:pointer;
}
.gridUpdate
{
    background-image:url(/Security/Content/img/controls/gridUpdate.gif);
    height:14px;
    width:16px;
    display:block;
    overflow:hidden;
    cursor:pointer;
}
.gridDelete
{
    background-image:url(/Security/Content/img/controls/gridDelete.gif);
    height:14px;
    width:16px;
    display:block;
    overflow:hidden;
    cursor:pointer;
}
.gridCopy
{
    background-image:url(/Security/Content/img/controls/gridCopy.gif);
    height:14px;
    width:16px;
    display:block;
    overflow:hidden;
    cursor:pointer;
}
.gridView
{
    background-image:url(/Security/Content/img/controls/gridView.gif);
    height:14px;
    width:16px;
    display:block;
    overflow:hidden;
    cursor:pointer;
}
/* grid buttons */

/* form buttons */

.btnAdd
{
    background-image:url(/Security/Content/img/controls/btn_Add.gif);
    height:25px;
    width:72px;
    display:inline-block;
    overflow:hidden;
    cursor:pointer;
}
.btnUpdate
{
    background-image:url(/Security/Content/img/controls/btn_Update.gif);
    height:25px;
    width:72px;
    display:inline-block;
    overflow:hidden;
    cursor:pointer;
}
.btnDelete
{
    background-image:url(/Security/Content/img/controls/btn_Delete.gif);
    height:25px;
    width:72px;
    display:inline-block;
    overflow:hidden;
    cursor:pointer;
}
.btnSave
{
    background-image:url(/Security/Content/img/controls/btn_Save.gif);
    height:25px;
    width:70px;
    display:inline-block;
    overflow:hidden;
    cursor:pointer;
}
.btnSearch
{
    background-image:url(/Security/Content/img/controls/btn_Search.gif);
    height:25px;
    width:72px;
    display:inline-block;
    overflow:hidden;
    cursor:pointer;
}

.btnSearchSmall
{
    background-image:url(/Security/Content/img/controls/btn_search_s.gif);
     height:14px;
    width:16px;
    display:block;
    overflow:hidden;
    cursor:pointer;
}
.btnClear
{
    background-image:url(/Security/Content/img/controls/btn_Clear.gif);
    height:25px;
    width:72px;
    display:inline-block;
    overflow:hidden;
    cursor:pointer;
}
.btnLogin
{
    background-image:url(/Security/Content/img/controls/btn_login.gif);
    height:25px;
    width:72px;
    display:inline-block;
    overflow:hidden;
    cursor:pointer;
}
.btnElipse
{
    background-image:url(/Security/Content/img/controls/btn_Elipse.gif);
    height:25px;
    width:25px;
    display:inline-block;
    overflow:hidden;
    cursor:pointer;
}
.btnBack
{
    background-image:url(/Security/Content/img/controls/btn_Back.gif);
    height:25px;
    width:70px;
    display:inline-block;
    overflow:hidden;
    cursor:pointer;
}
.btnSaveAndAddAnother
{
    background-image:url(/Security/Content/img/controls/btn_SaveAndAddAnother.gif);
    height:25px;
    width:125px;
    display:inline-block;
    overflow:hidden;
    cursor:pointer;
}

.btnClose
{
    background-image:url(/Security/Content/img/controls/btn_Close.gif);
    height:25px;
    width:72px;
    display:inline-block;
    overflow:hidden;
    cursor:pointer;
}

.btnView
{
    background-image:url(/Security/Content/img/controls/btn_View.gif);
    height:25px;
    width:72px;
    display:inline-block;
    overflow:hidden;
    cursor:pointer;
}

.btnPreview
{
    background-image:url(/Security/Content/img/controls/btn_Preview.gif);
    height:25px;
    width:72px;
    display:inline-block;
    overflow:hidden;
    cursor:pointer;
}

.btnCopy
{
    background-image:url(/Security/Content/img/controls/btn_Copy.gif);
    height:25px;
    width:72px;
    display:inline-block;
    overflow:hidden;
    cursor:pointer;
}

.buttonTeaser
{
    background: transparent url(/Security/Content/img/controls/buttonBackground.png) no-repeat left center;
    border: 1px solid #fff;    
    cursor: pointer;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size:0.916em;
    font-weight: bold;
    text-decoration:none;
    margin: 0 4px;
    padding: 2px 4px;
    text-transform: uppercase;
    outline: 1px solid #9BABB0;
    -moz-border-radius: 4px;
    -moz-outline-radius: 4px;
    -webkit-border-radius: 4px;
    color:#ffffff;
}
.buttonTeaser:hover
{
    background-position: right center;
    cursor: pointer;
    text-decoration:none;
}


.buttonTeasersmall
{
    background: transparent  left center;
    border: 1px solid #fff;    
    cursor: pointer;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size:7pt;
    font-weight: bold;
    text-decoration:none;
    margin: 0 4px;
    padding: 2px 4px;
    text-transform:none;
    outline: 1px solid #9BABB0;
    -moz-border-radius: 4px;
    -moz-outline-radius: 4px;
    -webkit-border-radius: 4px;
   
    
}
.buttonTeasersmall:hover
{
    background-position: right center;
    cursor: pointer;
    text-decoration:none;
}
/* form buttons */


#divLoading
{
	background-color: #CF4342;
	color: White;
	height: 23px;
	width: 73px;
	padding-top: 3px;
}

#spanLoading
{
	color: #fff;
	font-weight: bold;
	padding-left: 6px;
}